{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<!-- If you delete this meta tag, Half Life 3 will never be released.-->
	<!-- Template by marcosilva.co.uk, base on Zurb responsive templates and boiler plate, images and copy from http://www.hardgraft.com/ -->

	<meta name="viewport" content="width=device-width"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Focus Responsive Shopping Template, Version 1.0 </title>
	<link rel="stylesheet" type="text/css" href="email.css"/>
</head>
<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
	<img editable="true" />

<table class="body-wrap">
<tr>
	<td>
	</td>
	<td class="container" bgcolor="#FFFFFF">
		<!-- content -->
		<div class="content">
			<table bgcolor="" class="social" width="100%">
				<tr>
					<td align="center">
						<h1>ONE BAG, 2PACK, THREE WAYS</h1>

						<img src="top_banner.jpg"/>

					</td>
				</tr>
			</table>
		</div>
		<!-- COLUMN WRAP -->
		<div class="column-wrap">
			{% for product in products %}
			<div class="column">
				<table bgcolor="" class="social" width="100%">
					<tr>
						<td>
							<p>
								<img src="{{ product.image.all.0.img.url }}"/>
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<table align="left" width="100%">
								<tr>
									<p class="text">{{ product.description }}</p>
									<p class="bt">
										<a href="{{ product.aff_url }}"><img src="{% static 'images/btn_shop.jpg' %}"/></a>
									</p>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			{% endfor %}
		</div>
		<div class="clear">
		</div>
	</div>
</td>
<td>
</td>
</tr>
</table>
<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td>
		</td>
		<td class="container">
			<!-- content -->
			<div class="content">
				<table>
					<tr>
						<td align="center">
							<p>
								<a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">Unsubscribe</a>
							</p>
						</td>
					</tr>
				</table>
			</div>
			<!-- /content -->
		</td>
		<td>
		</td>
	</tr>
</table>
<!-- /FOOTER -->
</body>
</html>